.app-sidepanel {
  z-index: 1040;
}
.app-nav .nav-item.active .nav-link{
  color: #15a362;
  background: #edfdf6;
  border-left: 3px solid #15a362;
  font-weight: 500;
}
.textgreen {
  color: #15a362;
}
.page-utilities .col-auto {
  min-width: 333px;
}
.sidepanel-toggler,
.sidepanel-close {
  border: 0;
  background: transparent;
  color: #15a362;
}

.app-utility-item .dropdown-menu.show {
  top: 36px !important;
  left: -120px;
}